body{
  background-color: #084b72 !important;
  text-align: center;
  color: White!important;
  
 

}
.titlehead
{
    background-color: coral;
    font-family: verdana;
    font-size: 150%;
    padding: 0.5em;
    color: White;

} 